<template name="krabz">

    <style>
        body {

        }
        .krabz-subheader {

        }

        .krabz-header {

        }

        .krabz-barry-jenkins {
            width: 300px;
        }

        .maroon-bar {
            width: 100%;
            height: 20px;
            background-color: red;
            margin: 8px 0;
        }

        .blue-bar {
            width: 100%;
            height: 20px;
            background-color: cyan;
            margin: 8px 0;
        }

        .lavender-bar {
            width: 100%;
            height: 20px;
            background-color: magenta;
            margin: 8px 0;
        }
    </style>
    <div>
        <p class="krabz-subheader">A&O Productions, CTSS, Inspire Media & Rainbow Alliance present: </p>
        <h1 class="krabz-header">BARRY JENKINS</h1>
        <img class="krabz-barry-jenkins" src="./images/BarryJenkins.jpg" />
        <p class="krabz-subheader" >with a screening of oscar winning:</p>
        <h1 class="krabz-header" >MOONLIGHT</h1>
        <h1 class="krabz-header" >April 4th, 7-9pm</h1>
    </div>
    <div>
        <div class="maroon-bar"></div>
        <div class="blue-bar"></div>
        <div class="lavender-bar"></div>
    </div>
    <div>
        <iframe height="500px" width="80%" src="https://www.youtube.com/embed/9NJj12tJzqc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
        <div class="maroon-bar"></div>
        <div class="blue-bar"></div>
        <div class="lavender-bar"></div>
    </div>
    <div>
        <a href="/">Continue to A&O Productions</a>
    </div>
</template>
