<template name="benefit">
    <section class="container-fluid">
        <div class="row">
            <a href="https://www.facebook.com/events/1121682541287747/"><img class="benefit-image" src="/images/benefit.jpg" /></a>
            <iframe height="600px" width="100%" src="https://www.youtube.com/embed/asVhafDASjo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row benefit-section">
            <a class="continue-link .text-center" href="/home"><p>
                Continue to A&O Productions
            </p></a>
        </div>
    </section>
</template>
